
<div class="jumbotron text-center">
	<h1>Mon projet rails </h1>

	<% if user_signed_in? %>
	#Affichage verif
	
	<% else %>

	<h4 >Hello, si vous désirez suivre le tuto, 
		<%= link_to "Créez un compte" , new_user_registration_path , class: "btn btn-primary btn-lg" %>		
	</h4>
	
	<% end %>

	</div>
		
